<nav class="navbar navbar-expand-lg navbar-light bg-white px-5">
    <div class="container-fluid">
        <a class="navbar-brand" style="height: 100px;" routerLink="home"><img src="assets/images/local_logo.jpg"
                class="img-fluid h-100" alt="lôcal-logo" /></a>
        <button class="navbar-toggler" type="button" (click)="rightAligned.toggle()"
            aria-controls="navbarRightAlignExample" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <!-- Collapsible wrapper-->
        <div class="collapse navbar-collapse" id="navbarRightAlignExample" mdbCollapse #rightAligned="mdbCollapse">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fs-5">
                <li class="nav-item">
                    <a routerLink="home" routerLinkActive="active" class="nav-link">
                       <strong>Boutique en ligne</strong></a>
                </li>
                <li class="nav-item">
                    <a routerLink="about" routerLinkActive="active" class="nav-link"><strong>Qui sommes nous ?</strong></a>
                </li>
                <li class="nav-item">
                    <a routerLink="events" routerLinkActive="active" class="nav-link"><strong>Evenèments</strong></a>
                </li>
                <li class="nav-item">
                    <a routerLink="visitOurShop" routerLinkActive="active" class="nav-link"><strong>Le magasin</strong></a>
                </li>
                <li class="nav-item">
                    <a routerLink="contact" routerLinkActive="active" class="nav-link"><strong>Contact</strong></a>
                </li>
            </ul>
        </div>


    </div>
</nav>
<nav class="navbar py-0  px-5">
    <ul class="navbar-nav d-flex flex-row ms-auto">
        <!-- Cart icon -->
        <li class="nav-item me-3 me-lg-2">
            <a routerLink="cart" class="nav-link">
                <i class="fas fa-shopping-cart fa-lg link-dark"></i>
            </a>
        </li>

        <!-- Dropdown user -->
        <li mdbDropdown class="nav-item dropdown ms-2">
            <a class="nav-link dropdown-toggle link-dark" id="navbarDropdownMenuLink" role="button" mdbDropdownToggle
                aria-expanded="false">
                <i class="fas fa-user fa-lg" style="color:black"></i>
            </a>
            <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li>
                    <a class="dropdown-item" (click)="openModal()">Connexion</a>
                </li>
                <li>
                    <hr class="dropdown-divider" />
                </li>
                <li>
                    <a class="dropdown-item" (click)="openModal()">Inscription</a>
                </li>
            </ul>
        </li>

        <!-- Dropdown flag -->
        <ul class="navbar-nav mx-2">
            <!-- Icon dropdown -->
            <li mdbDropdown class="nav-item dropdown">
                <a class="nav-link dropdown-toggle link-dark" id="navbarDropdown" role="button" mdbDropdownToggle
                    aria-expanded="false">
                    <span class="iconify" style="margin-bottom: 4px;" data-icon="circle-flags:fr" data-width="22"></span>
                </a>
                <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                        <a class="dropdown-item" href="#">
                            <span class="iconify" data-icon="circle-flags:fr" data-width="24"></span>
                            <i class="fa fa-check text-success ms-3"></i>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <span class="iconify" data-icon="circle-flags:us" data-width="24"></span>
                        </a>
                </ul>
            </li>
        </ul>
    </ul>
</nav>