<div class="card container">
    <div class="d-flex flex-row pt-3">
        <a href="" class="align-self-center me-4 p-4 link-dark" style="width: 20rem;">
            <div class="bg-image hover-overlay">
                <img src="/assets/images/elodie.jpg" class="card-img-top rounded-circle z-depth-2 hover-overlay"
                    alt="..." data-holder-rendered="true" />
                <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                </a>
                <div class="card-body">
                    <h4 class="card-title text-center">Malodepaname</h4>
                </div>
            </div>
        </a>
        <!-- <div class="card mx-3" style="width: 20rem;">
            <img src="/assets/images/elodie2.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h4 class="card-title">Cadre Jade</h4>
                <p class="card-text">
                    d’après un collage original
                </p>
                <p class="card-text text-muted">25,00 eur</p>
                <a href="" class="btn btn-dark">Ajouter au panier</a>
            </div>
        </div>
        <div class="card mx-3" style="width: 20rem;">
            <img src="/assets/images/elodie3.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                </p>
                <a href="#!" class="btn btn-dark">Ajouter au panier</a>
            </div>
        </div>
        <div class="card mx-3" style="width: 20rem;">
            <img src="/assets/images/elodie4.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                </p>
                <a href="#!" class="btn btn-dark">Ajouter au panier</a>
            </div>
        </div> -->
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
    </div>
    <button type="button" class="btn btn-rounded align-self-end my-3">
        Voir +
    </button>
</div>