<div class="container-fluid d-flex flex-column align-items-center justify-content-start flex-md-row flex-sm-wrap px-5">
    <app-artist-card></app-artist-card>
    <app-product-card  *ngFor="let product of products" [product]="product"></app-product-card> <!-- traduction: "let element of array" [variable]="element" -->
    <!-- <app-product-card></app-product-card>
    <app-product-card></app-product-card> -->
</div>
<div class="d-flex justify-content-end me-5">
    <button type="button" class="btn btn-rounded my-3">
        Voir +
    </button>
</div>