<!-- <div class="card shadow-0 m-4"> -->
        <a class="card-img-top rounded-circle z-depth-2 hover-overlay link-dark" routerLink="../artist">
            <div class="d-flex flex-column align-items-center bg-image hover-overlay" style="width: 288px; height: 514;">
                <img src="/assets/images/elodie.jpg" class="card-img-top rounded-circle z-depth-2" style="max-width: 75%;"/>
                <a router-link="../artist">
                    <div class="mask"></div>
                </a>
                <h4 class="card-title fw-bold my-4">Malodepaname</h4>
            </div>
        </a>
<!-- </div> -->