<div class="card shadow-0 m-4" style="min-width: 288px;">
        <a class="card-img-top rounded-circle z-depth-2 hover-overlay link-dark" routerLink="../artist">
            <div class="bg-image hover-overlay d-flex flex-column align-items-center">
                <img src="/assets/images/elodie.jpg" class="card-img-top rounded-circle z-depth-2" style="max-width: 75%;"/>
                <a router-link="../artist">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                </a>
                <h4 class="card-title fw-bold my-4">Malodepaname</h4>
            </div>
        </a>
</div>