<section
  class="p-4 p-md-5"
  style="
    background-image: url(https://mdbcdn.b-cdn.net/img/Photos/Others/background3.webp);
  "
>
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-5">
      <div class="card rounded-3">
        <div class="card-body p-4">
          <div class="text-center mb-4">
            <h3>Payez votre commande</h3>
          </div>
          <form action="">
            <div class="form-outline mb-4">
              <input
                type="text"
                id="formControlLgXsd"
                class="form-control form-control-lg"
                value="Marie DUPONT"
              />
              <label class="form-label" for="formControlLgXsd">Nom sur la carte</label>
            </div>

            <div class="row mb-4">
              <div class="col-7">
                <div class="form-outline">
                  <input
                    type="text"
                    id="formControlLgXM"
                    class="form-control form-control-lg"
                    value="1234 5678 1234 5678"
                  />
                  <label class="form-label" for="formControlLgXM">N° de carte :</label>
                </div>
              </div>
              <div class="col-3">
                <div class="form-outline">
                  <input
                    type="password"
                    id="formControlLgExpk"
                    class="form-control form-control-lg"
                    placeholder="MM/YYYY"
                  />
                  <label class="form-label" for="formControlLgExpk">Expire le :</label>
                </div>
              </div>
              <div class="col-2">
                <div class="form-outline">
                  <input
                    type="password"
                    id="formControlLgcvv"
                    class="form-control form-control-lg"
                    placeholder="Cvv"
                  />
                  <label class="form-label" for="formControlLgcvv">Code CVV</label>
                </div>
              </div>
            </div>
            <button class="btn btn-success btn-lg btn-block">PAYER</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>