<div>
    <div>
        <img src="/assets/images/elodie.jpg" alt="">
        <h3>Malodepaname</h3>
        <p>Malodepaname est Dyonisienne.
            De part son enfance et son parcours, l’image a toujours fait partie de sa vie, et le collage
            s’est avéré une suite logique.
            Elle récupère toutes sortes de papiers, photos, journaux, affiches, papier-peint ,…
            Et les découpes, les détournes, les assembles.
            Au fil du temps, une galerie de portraits (mais pas que) à vu le jour.
            avec un prénom à chaque fois, comme pour les rendre plus vivants.
            Un univers assez féminin, décliné sur différents objets selon son envie de l’accrocher
            ou de l’emporter avec soi.</p>
    </div>
    <div></div>
</div>