<app-carousel></app-carousel>
<div class="container my-5">
    <div class="bg-image d-block d-sm-none mb-5">
        <img src="assets/images/carousel4.jpg" class="img-fluid" alt="shop" />
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.434);">
            <div class="d-flex justify-content-center align-items-center h-100 p-5">
                <h4 class="text-center text-white mb-0 lh-lg" style="font-size: 4vw;">"Lôcal" est une colléctivité d'artistes de Saint-Denis. Sur notre site, vous
                    pouvez les découvrir et acheter leurs créations</h4>
            </div>
        </div>
    </div>
    <h1>NOS ARTISTES A LA UNE...</h1>
    <h5>Découvres les artistes du collectif et leurs créations.</h5>
</div>
<app-artist-bar></app-artist-bar>
<router-outlet></router-outlet>